@import './variables';

// google font
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

// bootstrap grid
@import '~bootstrap/scss/bootstrap-grid.scss';

// ***** commons *****

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

h1,h2,h3,h4 {
    color: $gunPowder;
}

.big-title {
    font-size: 2.5rem;
}


// ----- custom search bar -----

.custom-search {
    position: relative;

    input,
    button {
        border: none;
    }

    input {
        background-color: $searchBG;
        border: 1px solid #fff;
        border-radius: 5px;
        padding: 15px 50px 15px 15px;
        outline: none;
        transition: all .3s;

        &:focus {
            background-color: #fff;
            border: 1px solid $mainGreen;
        }
    }

    button {
        color: $mainGreen;
        background-color: transparent;
        position: absolute;
        top: 1px;
        bottom: 1px;
        right: 1px;
        border-radius: 0 4px 4px 0;
        padding: 0 15px;
        cursor: pointer;
        transition: all .3s;

        &:hover {
            color: #fff;
            background-color: $mainGreen;
        }
    }
}


// ----- custom button -----

.btn-green {
    color: #fff;
    background-color: $mainGreen;
    border: none;
    border-radius: 5px;
    padding: 15px 60px;
    cursor: pointer;
    transition: all .5s;

    &:hover {
        background-color: $gunPowder;
    }
}



// ***** variables classes *****

.text-color {
    color: $textColor;
}

.text-color-light {
    color: $textColorLight;
}

.text-green {
    color: $mainGreen;
}

.koromiko-border {
    border-color: $koromiko;
}